body {
  background-image: url("../public/bgHouse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Bigshot One', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Henny Penny', cursive;
  font-family: 'Irish Grover', cursive !important;
  font-family: 'Peralta', cursive;
  font-family: 'Pirata One', cursive;
  font-family: 'Rakkas', cursive;
  font-family: 'Rye', cursive;
  font-family: 'Skranji', cursive;
}

form {
  background: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(7px);
  border: 1px solid white;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  text-align: center;
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {

  display: inline-block;
  vertical-align: middle;
}
.ghost,.boy{
  height: 400px;
  object-fit: contain;
  margin: 30px;
  width: calc(40% - 60px);
}
#boy,#ghost{
  height: 5%;
  position: absolute;
}
h1 {
  font-size: 80px;
  -webkit-text-stroke: 1px white;
  font-weight: normal;
  color: rgba(0, 0, 0, 0);
  background: rgb(226, 142, 53);
  background: linear-gradient(180deg, rgba(226, 142, 53, 1) 0%, rgba(246, 210, 101, 1) 100%);
  background-clip: text;
}
.selectedHero{
  animation: 1s 3 hero;
}
@keyframes hero{
  0%{
    transform: none;
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: none;
  }
}
.circle {
  display: inline-block;
  background-image: url("../public/candy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 300px;
  /* background: tomato; */
  vertical-align: middle;
  width: 20%;
}
.circle img{
  position: absolute;
    top: 0;
    transition: 1s;
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
    height: 100%;
    
}
button {
  font-size: 30px;
  border: 2px solid rgb(245, 179, 57);
  border-radius: 10px;
  padding: 0 30px;
  background: rgb(238, 162, 82);
  background: linear-gradient(135deg, rgba(244, 128, 6, 1) 0%, rgba(246, 210, 101, 1) 100%);
  color: white;
  font-family: 'Irish Grover', cursive !important;
  transition: 0.6s;
  margin: auto;
  outline: none;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
  background-size: 200% 100%;
}

button:hover {
  background-position: right;
  border: 2px solid rgb(255, 255, 255);
}

.hideForm{
 animation: 1s 1 hideForm;
 animation-fill-mode: forwards;
}
@keyframes hideForm{
  0%{
    transform: translate(-50%, -50%)
  }
  50%{
    transform: translate(-45%, -50%)
  }
  100%{
    transform: translate(-200%, -50%)
  }
  
}
canvas{
  background-image: url("../public/fonCanvas.jpg");
  background-size: calc(100% / 52);
}